<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.athleticstracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icono"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AthleticsTracker">
        <activity
            android:name=".gestion.ActivityCambioDatosUsuario"
            android:exported="false" />
        <activity
            android:name=".gestion.ActivityAjustesUsuario"
            android:exported="false" />
        <activity
            android:name=".visualizaciondatos.ActivityComparador"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".visualizaciondatos.ActivityDatosPrueba"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".visualizaciondatos.ActivityDatosClub"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".visualizaciondatos.ActivityRegistrosAtleta"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".creacionprueba.ActivitySeleccionAtletas"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".registro.ActivityRegistroClub"
            android:exported="false" />
        <activity
            android:name=".registro.ActivityRegistro3"
            android:exported="false" />
        <activity
            android:name=".registro.ActivityRegistro2"
            android:exported="false" />
        <activity
            android:name=".registro.ActivityBienvenida"
            android:exported="false" />
        <activity
            android:name=".creacionprueba.ActivityCrono"
            android:exported="false" />
        <activity
            android:name=".creacionprueba.ActivitySeleccion"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ActivityMenuUsuario"
            android:exported="false" />
        <activity
            android:name=".ActivityAuth"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>