<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.athleticstracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icono"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AthleticsTracker">
        <activity
            android:name=".gestion.CambioDatosUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".gestion.AjustesUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".visualizaciondatos.ComparadorActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".visualizaciondatos.DatosPrueba"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".visualizaciondatos.DatosClub"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".visualizaciondatos.RegistrosAtleta"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".creacionprueba.SeleccionAtletasPruebaActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".registro.RegistroClubActivity"
            android:exported="false" />
        <activity
            android:name=".registro.Registro3Activity"
            android:exported="false" />
        <activity
            android:name=".registro.Registro2Activity"
            android:exported="false" />
        <activity
            android:name=".registro.BienvenidaActivity"
            android:exported="false" />
        <activity
            android:name=".creacionprueba.ActivityCrono"
            android:exported="false" />
        <activity
            android:name=".creacionprueba.ActivitySeleccion"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".MenuUsuario"
            android:exported="false" />
        <activity
            android:name=".AuthActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>